# ---------------------------------
# Arquivos de compilação C/C++
# ---------------------------------

# Arquivos objeto (gerados antes do executável)
*.o
*.obj

# Executáveis (Linux/Mac e Windows)
*.out
*.exe
*.app

# Ignora qualquer executável que comece com 'exercicio-'
exercicio-*

# MAS protege (não ignora) os arquivos de código-fonte e cabeçalhos!
!*.cpp
!*.hpp
!*.h

# Bibliotecas dinâmicas e estáticas
*.dll
*.so
*.dylib
*.a
*.lib

# ---------------------------------
# Arquivos de IDEs e Editores
# ---------------------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------------------
# Arquivos do Sistema Operacional
# ---------------------------------
.DS_Store
Thumbs.db
